html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: black !important;
}

.Hero {
	height: 70vh;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	animation: changeBackground 30s infinite;
	transition: background-image 1s ease-in-out;
}

@keyframes changeBackground {
	0%,
	17% {
		background-image: url('Hero Photo 1.jpg');
	}
	20%,
	37% {
		background-image: url('Hero Photo 2.jpg');
	}
	40%,
	57% {
		background-image: url('Hero Photo 3.jpg');
	}
	60%,
	77% {
		background-image: url('Hero Photo 4.jpg');
	}
	80%,
	97% {
		background-image: url('Hero Photo 5.jpg');
	}
	100% {
		background-image: url('Hero Photo 1.jpg');
	}
}

@keyframes fadeInOut {
	0%,
	20%,
	100% {
		opacity: 0;
	}
	25%,
	45% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.Hero::after {
	animation: cycleImages 20s infinite, fadeInOut 20s infinite;
	animation-delay: 5s, 0s;
}

.About {
	margin: 25px auto 150px;
	max-width: 1366px;
}

.navbar {
	position: absolute !important;
	top: 30px;
	right: 30px;
	left: 30px;
	z-index: 1030;
}

.nav-link {
	color: #fff !important;
	font-size: 1.25rem;
	font-family: 'Raleway', sans-serif;
}

.navbar-nav {
	text-align: right;
}

.Avatar {
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	border-radius: 50%;
}

.Contact {
	max-width: 1100px;
	margin: 25px auto;
}
